.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.hero__img{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}
.hero__one{
    color: #1e293b;
    font-size: 2.5rem;
    margin-bottom: 0%;

}
.hero__two{
    color: #94a3b8;
    margin-top: 0%;
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 0%;

}
.hero__three{
    margin-top: 0%;
    color: #475569;
    font-size: 2rem;
    margin-bottom: 0%;
}
.hero__strong{
    color: #283794;
}
